.containerApp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0.96rem;

    margin-top: 3.84rem;

}

@media screen and (max-width: 480px) {
    .containerApp {
        width: 100%;
    }

}